<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionTest" thread-count="2" parallel = "tests">

  <test name="chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestClasses.VerifyUserCanLogin"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="firefox">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="TestClasses.VerifyUserCanLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
